<div class="row justify-content-center">
  <div class="col-sm-8 col-md-6 mt-3 mt-md-5 mb-5 pb-5">
    <h2 class="text-center">Восстановить пароль</h2>
    <hr class="my-1 my-md-3">

    <p class="small text-justify">Вам необходимо восстановить свой пароль? Без проблем! Введите вашу почту и нажмите на
      кнопку под текстом. Далее проследуйте на почту, вам будет прислано уведомление с паролем для вашей почты. Если вы
      не делали этот запрос, просто проигнорируйте пришедшее письмо вам на почту.</p>

    <form (submit)="onSubmit()" ngNativeValidate autocomplete="off">

      <div class="form-group">
        <label for="email">Почта</label>
        <input
          [(ngModel)]="emailForReset"
          name="email"
          type="email"
          required
          class="form-control"
          id="email"
          placeholder="введите почту">
      </div>

      <div class="row justify-content-around mx-0 mt-4 mb-2">
        <button type="submit" mat-stroked-button color="primary">Выслать пароль на почту</button>
      </div>

      <a [routerLink]="[securityRoute, eLog.LOG_IN]"
         [queryParams]="{ email: emailForReset }"
         class="pl-2 mt-2"
         [style.color]="'black'"
      >
        <strong>Вернуться</strong>
      </a>
    </form>

    <!--        <span>Остались еще вопросы? Вы можете написать нам на почту или связаться с нами по указаным ниже ссылкам</span>-->
  </div>
</div>
