<ng-container *ngIf="(userService.isUserLogged$ | async) as isUser">
  <div *ngIf="sidenav.opened" class="area-to-close-sidenav" (click)="sidenav.toggle(false)"></div>
  <mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav
      #sidenav
      role="navigation"
      class="mat-sidenav"
      fixedInViewport="true"
      fixedTopGap="62"
      fixedBottomGap="56"
    >
      <mat-nav-list>
        <a
          (click)="sidenav.toggle(false)"
          type="button"
          mat-list-item
          [routerLink]="['/', route.HOME]"
          routerLinkActive="active"
        >
          <mat-icon class="icon">home</mat-icon>
          <span class="label">Главная</span>
        </a>
        <a
          *ngIf="isUser.log"
          (click)="sidenav.toggle(false)"
          type="button"
          mat-list-item
          [routerLink]="['/', route.WORK]"
          routerLinkActive="active"
        >
          <mat-icon class="icon">compare_arrows</mat-icon>
          <span class="label">Работа</span>
        </a>
        <a
          *ngIf="isUser.log"
          (click)="sidenav.toggle(false)"
          type="button"
          mat-list-item
          [routerLink]="['/' + route.STORAGE]"
          routerLinkActive="active"
        >
          <mat-icon class="icon">storage</mat-icon>
          <span class="label">Хранилище</span>
        </a>
        <a
          *ngIf="!isUser.log"
          (click)="sidenav.toggle(false)"
          mat-list-item type="button"
          [routerLink]="['/', route.AUTH]"
          routerLinkActive="active"
        >
          <mat-icon class="icon">login</mat-icon>
          <span class="label">Войти</span>
        </a>
        <a
          *ngIf="isUser.log"
          (click)="sidenav.toggle(false); onLogout()"
          type="button"
          mat-list-item
          routerLinkActive="active"
        >
          <mat-icon class="icon">logout</mat-icon>
          <span class="label">Выйти</span>
        </a>
        <a
          *ngIf="isUser.log"
          (click)="sidenav.toggle(false)"
          type="button"
          mat-list-item
          [routerLink]="['/', route.OPTIONS]"
          routerLinkActive="active"
        >
          <mat-icon class="icon">person</mat-icon>
          <span class="label">Настройки</span>
        </a>
        <a
          (click)="sidenav.toggle(false)"
          type="button"
          mat-list-item
          [routerLink]="['/', route.ABOUT]"
          routerLinkActive="active"
        >
          <mat-icon class="icon">info</mat-icon>
          <span class="label">О создании</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="mat-content">
      <mat-toolbar color="primary">
        <div fxHide.gt-xs>
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>view_headline</mat-icon>
          </button>
        </div>
        <div>
          <a [routerLink]="['/', route.HOME]" class="ml-2">Главная</a>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxFlexAlign="center" fxHide.xs>
          <ul fxLayout class="navigation-items">
            <li *ngIf="isUser.log" fxLayoutAlign="flex-end">
              <a [routerLink]="['/', route.STORAGE]" routerLinkActive="active">
                <mat-icon class="icon">storage</mat-icon>
                <span class="label">Хранилище</span>
              </a>
            </li>
            <li *ngIf="isUser.log" fxLayoutAlign="flex-end">
              <a [routerLink]="['/', route.WORK]" routerLinkActive="active">
                <mat-icon class="icon">compare_arrows</mat-icon>
                <span class="label">Работа</span>
              </a>
            </li>
            <li *ngIf="!isUser.log" fxLayoutAlign="flex-end">
              <a [routerLink]="['/', route.AUTH]" routerLinkActive="active">
                <mat-icon class="icon">login</mat-icon>
                <span class="label">Войти</span>
              </a>
            </li>
            <li fxLayoutAlign="flex-end">
              <a *ngIf="isUser.log" (click)="onLogout()">
                <mat-icon class="icon">logout</mat-icon>
                <span class="label">Выйти</span>
              </a>
            </li>
            <li fxLayoutAlign="flex-end">
              <a *ngIf="isUser.log" [routerLink]="['/', route.OPTIONS]" routerLinkActive="active">
                <mat-icon class="icon" style="transform: scale(1.5);">person</mat-icon>
              </a>
            </li>
            <li fxLayoutAlign="flex-end">
              <a [routerLink]="['/', route.ABOUT]" routerLinkActive="active" class="about-link">
                <mat-icon class="icon" style="transform: scale(2)">info</mat-icon>
              </a>
            </li>
          </ul>
        </div>
      </mat-toolbar>

    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
