:host {
  .about-link {
    width: 7rem;
    display: flex;
    align-items: center;
  }

  .area-to-close-sidenav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--sidenav-width);
    right: 0;
    background-color: transparent;
    z-index: 99999;
  }

  .mat-sidenav {
    width: var(--sidenav-width);
  }

  .mat-sidenav .icon {
    margin-right: 7px;
  }

  .mat-toolbar.mat-toolbar-single-row {
    height: var(--header-height);
  }

  .mat-content {
    a {
      text-decoration: none;
      color: var(--main-white);
    }

    .navigation-items {
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;

      li {
        margin: 0 10px;

        a {
          padding: 14px 12px;

          mat-icon {
            height: 27px;
            width: 27px;
          }

          &:hover {
            color: var(--main-gray);
          }

          &.active {
            color: var(--main-base);
            background-color: var(--main-white);
          }
        }
      }
    }

    .icon {
      display: inline-block;
      height: 30px;
      margin: 0 auto;
      padding-right: 5px;
      text-align: right;
      vertical-align: middle;
      width: 30%;
    }

    .label {
      display: inline-block;
      line-height: 30px;
      margin: 0;
      width: 70%;
    }
  }
}
