:host {
  .logo {
    font-size: 3rem;
  }
  .main-page {
    position: fixed;
    top: 84px;
    left: 0;
    width: 100%;
    height: var(--main-height);
    background: center / contain no-repeat url('https://wallpaperaccess.com/full/5625354.jpg');
    transform: scale(0.8);
  }
}
